BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -4

## arguments&parameters break
# # align consecutive declarations
# AlignConsecutiveDeclarations: true
# align consecutive assignments
AlignConsecutiveAssignments: true
# align consecutive comments
AlignTrailingComments: true
AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine : Empty
BinPackArguments: false
BinPackParameters: false
SortIncludes: true
AlwaysBreakTemplateDeclarations: Yes

