BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
ContinuationIndentWidth: 4
AccessModifierOffset: -4

# aligning consecutive assignments when meeting consecutive =
AlignConsecutiveAssignments: true

# arguments&parameters break
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
SortIncludes: true